@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.column {
    flex: 1;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 26px;

}

.column.middle {
    flex: 0 0 calc(100% - 52px);
    max-width: 648px;
    position: relative;
    overflow-y: auto;
    padding: 26px;

}

.column.middlepost {
    flex: 0 0 calc(100% - 52px);
    max-width: 740px;
    position: relative;
    overflow-y: auto;
    padding: 26px;
}

@media (max-width: 768px) {
    .container {
        display: block;
        justify-content: center;

    }

    .main-content {
        padding: 26px;
    }



    .column.middle {
        flex: 0 0 calc(100% - 26px);
        position: relative;
        overflow-y: auto;
        flex-basis: 100%;
        max-width: 100%;
        padding: 0px;

    }

    .column.middlepost {
        flex: 0 0 calc(100% - 52px);
        max-width: 740px;
        position: relative;
        overflow-y: auto;
        padding: 0px;
        max-width: 100%;

    }

}

/* Apply typography styles */
h1.title,
h2.heading-md,
p.para,
span.number,
.accent-heading {
    font-size: 15px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0;
    line-height: 26px;
    margin: 0;
}



h1.title {
    font-size: 43.35px;
    line-height: 52px;
}

h2.heading-md {
    font-size: 25.5px;
    line-height: 39px;
}

span.number {
    font-family: "Spline Sans Mono", monospace;
    font-size: 13.2px;
    white-space: nowrap;



}

.para.lowercase {
    text-transform: lowercase;
}

.accent-heading {
    font-family: 'Spline Sans Mono', monospace;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 5 00;
    letter-spacing: 0.6px;


}

/* Define color classes */
.type {
    color: #f3f3f3;
}

.blogtype {
    color: #BFBFBF;
}

.type-opacity-50 {
    color: #808080;
}

.accent {
    color: #EB6E47;
}

.row {
    display: flex;
    justify-content: space-between;
}

.sidebyside {
    display: flex;
    flex-direction: row;

}

/* Add styling for left and right content within the row */
.left-content {
    flex-grow: 1;
}

.right-content {
    margin-left: 13px;
}

/* Remove default link styling */
a {
    font-size: 15px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0;
    line-height: 26px;
    color: #F3F3F3;
    transition: text-decoration 0.3s;
}

a:hover {
    text-decoration: underline;
}

/* Sticky left column */
.column.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: flex-start;
    position: sticky;
    top: 0;

    @media (max-width: 768px) {
        display: none;
        /* Change display to flex under 768px */

    }
}

.column.right {

    padding: 26px;

    @media (max-width: 768px) {
        display: none;
        /* Change display to flex under 768px */

    }
}


.mobile-show {

    display: none;

    @media (max-width: 768px) {
        ;
        /* Change display to flex under 768px */
        display: block;
    }
}


/* Disable overscroll behavior */
html,
body {
    overscroll-behavior-y: none;
}

/* Style the "work" and "notes" links */
.work-link:hover,
.notes-link:hover {
    cursor: pointer;
    /* Change cursor to pointer on hover */
    text-decoration: underline;
    /* Underline the text on hover */
}

/* Add this CSS to your stylesheet */
.hidden {
    display: none;
}


.icon {
    font-size: 43.35px;
    line-height: 52px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0;
    margin: 0;
}


/* CSS */
#backToTopContainer {
    display: none;
    opacity: 0;
    /* Start with opacity 0 */
    transition: opacity 0.3s ease, display 0.3s ease;
    /* Add transitions for opacity and display */
}

/* CSS for post.js modifications */
.image-container {
    max-width: 100%;
    /* Ensure the container doesn't exceed its parent's width */
    margin: 0 auto;
    /* Center the image horizontally within the container */
}

.image {
    max-width: 100%;
    /* Make the image fit the width of its container */
    height: auto;
    /* Preserve the aspect ratio of the image */
}

.top-padding-13 {
    padding-top: 13px;
}

.bottom-padding-13 {
    padding-bottom: 13px;
}

.top-padding-26 {
    padding-top: 26px;
}

.bottom-padding-26 {
    padding-bottom: 26px;
}

.block {
    display: block;
}

.sidebyside {
    flex-direction: row;
}

.loader-container {
    width: 100%;
    height: 3px;
    background-color: #121212;
    position: relative;
    overflow: hidden;
    margin-top: 11.5px;
}

.loader-rectangle {
    width: 8px;
    height: 100%;
    background-color: #f3f3f3;
    position: absolute;
    animation: moveLoader 2s linear infinite;

}

@keyframes moveLoader {
    0% {
        left: -10px;
        /* Start position */
    }

    50% {
        left: 100%;
        /* Halfway to the right */
    }

    100% {
        left: -10px;
        /* Back to the left */
    }
}


/* Define a grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns */
    grid-template-rows: repeat(3, 1fr);
    /* Three rows */
    gap: 1px;
    /* Gap between grid items */
    width: 65px;
    /* Adjust the width as needed */
}

/* Style for grid items */
.grid-item {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 23px;
    /* Adjust the height as needed */


}


.lpara {

    font-size: 13px;
    text-decoration: none;
    font-family: "Spline Sans Mono", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0;
    line-height: 13px;
    margin: 0;


}

.spacer {
    height: 156px;
}


.nav-container-mobile {
    display: none;
    /* Default: hide the element */

    /* Media query for viewport width under 768px */
    @media (max-width: 768px) {
        display: flex;
        /* Change display to flex under 768px */
        flex-wrap: wrap;
        max-width: 100%;
        padding: 26px;
    }
}


.nav-container-child {
    margin: 0;
    /* Remove any default margins */
    margin-right: 13px;
    /* Add padding or spacing between child containers */
    white-space: nowrap;
    /* Prevent child containers from breaking within themselves */
}

/* Optional: Set a max-width for the child containers to limit their width */
.line {
    background-color: rgba(128, 128, 128, 0.2)
}

.link-container-mobile {
    display: none;
    /* Default: hide the element */

    /* Media query for viewport width under 768px */
    @media (max-width: 768px) {
        display: flex;
        /* Change display to flex under 768px */
        flex-wrap: wrap;
        max-width: 100%;

    }
}

.padding-26 {
    padding: 26px;
}